<div class="container-fluid bg-dark">
<div class="container"> 
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" routerLink="/">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contacts">Contact</a>
        </li>
        <li class="nav-item dropdown" ngbDropdown *ngIf="user">
          <a class="nav-link dropdown-toggle" id="dropdownBasic1" ngbDropdownToggle>
            {{user.displayName}}
          </a>
          <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <a class="dropdown-item" ngbDropdownItem routerLink="/proentry">Product Entry</a>
            <a class="dropdown-item" ngbDropdownItem  routerLink="/manage">Manage Product</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" ngbDropdownItem (click)="logout()">Log Out</a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
       <li class="nav-item"><a class="nav-link" routerLink="/login">Log In</a></li>
       <li class="nav-item"><a class="nav-link" href="#">|</a></li>
       <li class="nav-item"><button class="btn btn-sm btn-primary signup" routerLink="/signup">Sign Up</button></li> 
      </ul>
    </div>
  </nav>
</div>
</div>
  
  