<div class="container">
<div class="row">
<div class="col-lg-3" *ngFor="let d of data">
    <div class="card">
        <img [src]="d.productimage" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{d.productname}}</h5>
          <p class="card-text">{{d.productdescription}}</p>
          <ul><li>{{d.productcost}}</li><li>{{d.productdiscount}}</li></ul>
         <p>{{d.productcategory}}</p>
          <a href="#" class="btn btn-primary">Add To Cart</a>
        </div>
      </div>   
</div>
</div>
</div>
